@page "/"

<PageTitle>Index</PageTitle>

<h1>Plataforma de Gestão de Pacientes</h1>

<p><h5>Poderá registar/atualizar pacientes, registar consultas, bem como consultar relatórios das demais consultas.</h5></p>
<br />

<div>
    <h2>Recursos Principais</h2>
    <ul>
        <li>Marque e faça uma gestão de consultas de forma simples</li>
        <li>Registe e mantenha o histórico de pacientes</li>
        <li>Gere relatórios detalhados de consultas</li>
        <li>Acesse facilmente informações importantes</li>
    </ul>
</div>